<nav>
    <div class="titulonav">
        <h1>NBA</h1>
    </div>
     
    <ul class="enlaces">
        <li><a [routerLink]="['/']" >Listado de jugadores</a></li>
        <li><a [routerLink]="['/maxanotadores']" >Máximos anotadores</a></li>
        <li><a [routerLink]="['/maxasistentes']" >Máximos asistentes</a></li>
        <li><a [routerLink]="['/maxrebotes']" >Máximos reboteadores</a></li>
        <li><a [routerLink]="['/favoritos']" >Favoritos</a></li>
    </ul>
</nav>
<body>
    
</body>


